nav{
    text-align: right;
    padding: 5px;
}

.link-borda{
    border-right: 1px solid black;
    padding: 3px;
}

.data-publicacao{
    font-size: 10px;
    font-weight: 700;
}

.letras-pequenas{
    font-size: 13px;
}